# Secrets // recommended to overwrite in a private secrets file
application:
  server:
    env:
      ENCRYPTION_SECRET: # recommended 
      ADMIN_USERNAME:    # default admin
      ADMIN_PASSWORD:    # default AnsibleForms!123
  mysql:
    user: root                 # required
    password: AnsibleForms!123 # required

# Application environment variables
env:
  HTTPS: "0" # auto sets port to 80 or 443
  # See ansibleforms.com for all env vars details
  
service:
  server:
    type: ClusterIP # check to LoadBalancer or enable ingress
    # type: LoadBalancer # if you want to expose the service directly, without ingress
    # loadbalancer:
      # ip: <static-ip-if-needed>  # to assign a static IP, if your cloud provider supports it   
  mysql:
    type: ClusterIP # change to LoadBalancer if you want to expose it
    # type: LoadBalancer # if you want to expose the mysql service
    # loadbalancer:
      # ip:

storage:
  server:
    className: # if not set, uses default storage class
    size: 1Gi
  mysql:
    className: # if not set, uses default storage class 
    size: 1Gi

container:
  server: 
    image: ansibleguy/ansibleforms:betav6
    resources:
      limits:
        cpu: "0.5"
        memory: 512Mi
      requests:
        cpu: "0.25"
        memory: 256Mi
  mysql:
    image: mysql:latest
    resources:
      limits:
        cpu: "0.5"
        memory: 512Mi
      requests:
        cpu: "0.25"
        memory: 256Mi

# Ingress configuration
# Enable ingress and set hostname to use ingress instead of LoadBalancer
# Make sure to have an ingress controller installed in your cluster
# If ingress is enabled, you can set application.env.HTTPS to "0".  TLS is handled by the ingress.
ingress:
  enabled: false  
  className: nginx
  hostname: <your-hostname> 
  path: /
  pathType: Prefix
  tls:
    enabled: true
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /
  issuer: letsencrypt-prod
  extraHosts: [] # ["other.example.com"]
  extraPaths: [] # [{ path: /api, serviceName: server, servicePort: 80 }]
  extraAnnotations: {}
  # Add more as needed

forms:
  configMap:
    enabled: false
    name: ""                          # existing ConfigMap name
    key: forms.yaml                   # clave dentro del ConfigMap
    mountPath: /app/dist/persistent/forms.yaml